<!-- Angular Calculator Project -->
<div class="
min-w-screen
min-h-screen
bg-gray-900
flex
items-center
justify-center
px-5
py-5">

  <div class="
  w-full
  mx-auto
  rounded-xl
  shadow-xl
  text-gray-800
  relative
  overflow-hidden" 
  style="max-width: 350px;">

  <!-- Title -->
  <h1 class="text-center text-white py-10 text-3xl font-bold">Angular Calculator</h1>

    <!-- Screen -->
    <div class="
    w-full
    h-40
    bg-gradient-to-b
    from-gray-800
    to-gray-700
    text-right">
      <!-- Functions -->
      <div class="
      w-full
      py-5
      px-6
      text-2xl
      text-white
      font-thin">
      {{funcT}}
      </div>

      <!-- Number -->
      <div class="
      w-full
      py-5
      px-6
      text-6xl
      text-white
      font-thin">
        {{calValue | number: '1.0-4'}}
      </div>
      <!--End Screen-->
    </div>
      <!--Calculator Button Area-->
      <div class="
      w-full
      bg-gradient-to-b
      from-red-500
      to-red-800">
        <!--First Button Row-->
        <div class="
        flex
        w-full">
          <!--Clear Button-->
          <div class="
          w-2/4
          border-r
          border-b
          border-red-400">
            <button class="
            w-full
            h-16
            outline-none
            hover:bg-red-700 
            hover:bg-opacity-50
            text-white
            text-xl
            font-light" (click)="onClickValue('C','func')"> C </button>
          </div>
          <!--End Clear Button-->
          <!--Percentage Button-->
          <div class="
          w-1/4
          border-r
          border-b
          border-red-400">
            <button class="
            w-full
            h-16
            outline-none
            focus:outline-none
            hover:bg-red-700 
            hover:bg-opacity-50
            text-white
            text-xl
            font-light" (click)="onClickValue('%','func')" > &percnt; </button>
          </div>
          <!--End Percentage Button-->
          <!--Multiplication Button-->
          <div class="
          w-1/4
          border-r
          border-b
          border-red-400">
            <button class="
            w-full
            h-16
            outline-none
            focus:outline-none
            hover:bg-red-700 
            hover:bg-opacity-50
            text-white
            text-xl
            font-light" (click)="onClickValue('x','func')"> &times; </button>
          </div>
          <!--End Multiplication Button-->
        </div>
        <!--End First Button Row-->
        <!--Second Button Row-->
        <div class="
        flex
        w-full">
        <!--Number 7 Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('7','num')"> 7 </button>
        </div>
        <!--End Number 7 Button-->
        <!--Number 8 Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light"  (click)="onClickValue('8','num')"> 8 </button>
        </div>
        <!--End Number 8 Button-->
        <!--Number 9 Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('9','num')"> 9 </button>
        </div>
        <!--End Number 9 Button-->
        <!--Division Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('/','func')"> &divide; </button>
        </div>
        <!--End Division Button-->
        </div>
        <!--End First Button Row-->
        <!--Third Button Row-->
        <div class="
        flex
        w-full">
        <!--Number 4 Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('4','num')"> 4 </button>
        </div>
        <!--End Number 4 Button-->
        <!--Number 5 Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('5','num')"> 5 </button>
        </div>
        <!--End Number 5 Button-->
        <!--Number 6 Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('6','num')"> 6 </button>
        </div>
        <!--End Number 6 Button-->
        <!--Minus Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('-','func')"> - </button>
        </div>
        <!--End Minus Button-->
        </div>
        <!--End Third Row Button-->
        <!--Fourth Button Row-->
        <div class="
        flex
        w-full">
        <!--Number 1 Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('1','num')"> 1 </button>
        </div>
        <!--End Number 1 Button-->
        <!--Number 2 Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('2','num')"> 2 </button>
        </div>
        <!--End Number 2 Button-->
        <!--Number 3 Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('3','num')"> 3 </button>
        </div>
        <!--End Number 3 Button-->
        <!--Plus Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('+','func')"> + </button>
        </div>
        <!--End Plus Button-->
        </div>
        <!--End Fourth Row Button-->
        <!--Fourth Button Row-->
        <div class="
        flex
        w-full">
        <!--Number 0 Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('0','num')"> 0 </button>
        </div>
        <!--End Number 0 Button-->
        <!--Decimal Button-->
        <div class="
        w-1/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('.','num')"> , </button>
        </div>
        <!--End Decimal Button-->
        <!--Equal Button-->
        <div class="
        w-2/4
        border-r
        border-b
        border-red-400">
          <button class="
          w-full
          h-16
          outline-none
          focus:outline-none
          hover:bg-red-700 
          hover:bg-opacity-50
          text-white
          text-xl
          font-light" (click)="onClickValue('=','func')"> = </button>
        </div>
        <!--End Equal Button-->
        </div>
        <!--End Fifth Row Button-->
      <!--End Calculator Button Area-->
    </div>
  </div>

</div>